section {
}

.row {
	display: block;
}
label {
	display: inline-block;
	width: 6em;
	margin: 4;
}

#left-section {
	display: inline-block;
	vertical-align: top;
}

#right-section {
	display: inline-block;
}

ul {
	list-style: none;
	columns: 4;
}
img {
	border: 2px solid gray;
}

#search-section {
	background-color: #ddffcc;
}

.ui-tooltip {
    white-space: pre-line;
}